<%- include('../partials/header.ejs') %>
<%- include('../partials/main_nav.ejs') %>

<!-- Main Content -->
<main>
    <div class="jumbotron jumbotron-fluid flex-shrink-0 py-5">
    
        <!-- <div class="container mt-5">

            <form action="insert assignment" method="POST">
                <div class="mb-5">
                    <label for="name" class="form-label">Title</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="assignment Name">
                </div>
            </form>

        </div> -->

        <!-- DISPLAYS "assignments" COLLECTION -->
        <div class="container bg-dark border rounded border-0 p-4 p-md-5 bg-opacity-100">

            <h1 style="color: var(--bs-white);"><%= title %></h1>
            
            <!-- Trigger Modal -->
            <!-- <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Add assignment</button>
            <button type="button" class="btn btn-success mb-2" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Add assignment</button> -->

            <a href="/assignment-list/add" class="btn btn-success mb-2" role="button">Add Assignment</a>
            
            <div class="table-responsive">

                <table class="table table-hover table-dark">
                    <thead class="text-center">
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Class</th>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Weight</th>
                            <th scope="col">Due Date</th>
                            <th scope="col"><!-- <label class="sr-only visually-hidden">Edit button column</label> --> </th>
                            <th scope="col"><!-- <label class="sr-only visually-hidden">Delete button column</label> --> </th>
                        </tr>

                        <!-- <tr class="flex">
                            <th class="text-center col-1">Name</th>
                            <th class="text-center col-1">Author</th>
                            <th class="text-center col-1">Published</th>
                            <th class="text-center col-4">Description</th>
                            <th class="text-center col-1">Price</th>
                            <th class="text-center col-1"></th>
                            <th class="text-center col-1"></th>
                        </tr> -->

                    </thead>

                    <tbody class="text-center align-middle">

                        <% for(let count=0; count < assignmentsList.length; count++) { %>
                        <tr>
                            <!-- display column number -->
                            <td scope="col"><%= count+1 %></th>
                            <td class="col"><%= assignmentsList[count].course %></td>
                            <td class="col"><%= assignmentsList[count].title %></td>
                            <td class="col"><%= assignmentsList[count].description %></td>
                            <td class="col"><%= assignmentsList[count].weight %></td>
                            <td class="col"><%= assignmentsList[count].due %></td>

                            <td class="col"><a href="/assignment-list/edit/<%= assignmentsList[count]._id %>" class="btn btn-primary" role="button">Edit</a></td>
                            <td class="col"><a href="/assignment-list/delete/<%= assignmentsList[count]._id %>" class="btn btn-danger" role="button">Delete</a></td>
                                                        
                        </tr>
                        <% } %>

                    </tbody>

                </table>
            </div>
            
            <!-- Modal -->
            <!-- <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
            
                        <div class="modal-body p-0"> -->
                            <!-- <div class="container" id="contact-page"> -->
            
                                <!-- <form class="form" method="post" id="contact">
            
                                    <h1>Insert assignment</h1>
            
                                    <ul>
            
                                        <div class="form-group">
                                            <li>
                                                <input class="form-control" placeholder="Title" type="text" name="name" id="nameTextField" required>
                                                <label class="visually-hidden" for="nameTextField">Name</label>
                                            </li>
                                        </div>
            
                                        <div class="form-group">
                                            <li>
                                                <input class="form-control" placeholder="Author" type="text" name="author"
                                                    id="authorTextField" required>
                                                <label class="visually-hidden" for="authorTextField">Author</label>
                                            </li>
                                        </div>
                                        
                                        <div class="form-group">
                                            <li>
                                                <textarea class="form-control" placeholder="Description" type="text"
                                                    name="description" id="descriptionTextField" required></textarea>
                                                <label class="visually-hidden" for="descriptionTextField">Description</label>
                                            </li>
                                        </div>
                                        
                                        <div class="form-group">
                                            <li>
                                                <input class="form-control" placeholder="Publication Year" type="number"
                                                    name="published" id="publishedTextField" required>
                                                <label class="visually-hidden" for="publishedTextField">Publication Year</label>
                                            </li>
                                        </div>
            
            
                                        <div class="form-group">
                                            <li>
                                                <input class="form-control" placeholder="Price" type="number" name="price"
                                                    id="priceTextField" required>
                                                <label class="visually-hidden" for="priceTextField">Price</label>
                                            </li>
                                        </div>
            
                                        <button class="btn btn-primary" type="submit" id="form-submit">Submit</button>
                                    </ul>
            
                                </form> -->

                            <!-- </div> -->
                        <!-- </div>
                        
                    </div>
                </div>
            </div> -->

        </div>
    </div>
</main>
<%- include ('../partials/bottom_nav.ejs') %>
<%- include ('../partials/footer.ejs') %>